ul {
  padding: 0;
  font-family: 'Playfair Display', sans-serif;
}

figure {
  text-align: center;
}

a {
  text-decoration: none;
}

.countries {
  display: flex;
  background-image: linear-gradient(rgba(207, 201, 231, 0.8), rgba(200, 181, 181, 0.8));
}

.countries-list {
  display: flex;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.countries-list__item {
  flex: 1 1 auto;
  justify-content: center;
  width: 150px;
  margin: 0;
  margin-left: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.countries-list__item__name {
  height: 150px;
  margin: 0;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.countries-list__item__name_nav {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.countries-list__item__name_nav:hover {
  color: #6363f5;
}

.countries-list__item__name_icon {
  display: block;
  max-width: 14rem;
  height: 100px;
  margin: auto;
}

.countries-list__item__place-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 17px;
  list-style-type: none;
}

.countries-list__item__place-list_item {
  border: 2px solid gray;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.countries-list__item__place-list_item:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.countries-list__item__place-list_item:hover .card-image {
  opacity: 1;
}

.countries-list__item__place-list_item img {
  height: 100px;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
  opacity: 0.91;
}

.australia {
  background-image: url(./pages/countries/australia/cradle_mountains/cradle_mountain.jpg);
}

.usa {
  background-image: url(./pages/countries/usa/lake_tahoe/lake_tahoe.jpg);
}

.france {
  background-image: url(./images/france_landscapes.jpg);
}

.canada {
  background-image: url(./images/canada_landscapes.jpg);
}

.australia-flag {
  background-image: url(../images/flag_australia_enl.jpg);
}

.usa-flag {
  background-image: url(../images/flag_usa_enl.jpg);
}

.canada-flag {
  background-image: url(../images/flag_canada_new.jpg);
}

.mexico-flag {
  background-image: url(../images/flag_mexico_new.jpg);
}

.france-flag {
  background-image: url(../images/flag_france_new.jpg);
}

.aqua {
  color: #12dfd5;
}

.green {
  color: #064906;
}
